body {
    flex-direction: column;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    height: auto;
    background-color: #f0f0f0;
}

.image-container {
    align-self: stretch;
}

#stretch-image {
    width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

.cards {
    display: flex;
}

.card {
    margin: 10px;
    width: 100%;
    background-color: #f0f0f0;
    border: 4px solid #b1b1b1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card_text {
    padding-left: 20px;
}

.card_secundario {
    display: flex;
    flex-direction: row;
}

.img-principais {
    width: 100%;
    height: 400px;
}

.img-secundarias {
    width: 150px;
    height: 150px;
}

.cards_secundarios {
    margin-top: 20px;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
}

.cards_secundarios_content {
    display: flex;
    background-color: #f0f0f0;
    border: 1px solid #000;
    width: 30%;
}

.texto-secundario {
    margin-left: 20px;
}