body {
    flex-direction: column;
    margin: 0;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    margin: 1%;
    align-self: stretch;
    overflow: hidden;
}

#stretch-image {
    width: 100%;
    height: auto;
}

.card {
    align-self: stretch;
    align-items: center;
    width: 100%; /* Estica o componente horizontalmente */
    height: auto;
    background-color: #f0f0f0; /* Cor de fundo (opcional) */
    border: 1px solid #000; /* Borda (opcional) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicione uma sombra suave */
}

.card-content {
    flex-direction: column;
    padding: 20px; /* Adicione algum espaço interno para o conteúdo do card */
    text-align: center; /* Centralize o conteúdo horizontalmente */
}

.texto-grande {
    font-size: 40px; /* Define o tamanho da fonte para a classe texto-grande */
}

.cards_principais{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    width: 100%;
    height: auto;
    align-self: stretch;
    justify-content: space-between; /* Alinha os cards horizontalmente */
}

.cards_principais_content {
    background-color: #f0f0f0; /* Cor de fundo opcional */
    border: 1px solid #000; /* Borda (opcional) */
    flex-direction: column;
    margin: 20px;
    width: 30%;
    padding: 20px; /* Adicione algum espaço interno para o conteúdo do card */
    text-align: center; /* Centralize o conteúdo horizontalmente */
}

.img-principais{
    width: 400px;
    height: 400px;
}

.cards_secundarios{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    width: 100%;
    height: auto;
    align-self: stretch;
    justify-content: space-between; /* Alinha os cards horizontalmente */
}

.cards_secundarios_content{
    margin: 20px;
    background-color: #f0f0f0; /* Cor de fundo opcional */
    border: 1px solid #000; /* Borda (opcional) */
    flex-direction: column;
    width: 30%;
    padding: 20px; /* Adicione algum espaço interno para o conteúdo do card */
    text-align: center; /* Centralize o conteúdo horizontalmente */
}